 .loading.mona-has-ajax {
    position: relative;
}
.mona-has-ajax:after{ 
    display: inline-block;  
    content: ""; 
    background-image: url(../images/loading-cam.svg);
    background-repeat: no-repeat;
    background-size: 0;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0; 
    z-index: 99;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.loading .mona-has-ajax:after,
.mona-has-ajax.loading:after{
    background-size: contain;
}
.mona-has-ajax:hover::after {
    background-image: url(../images/loading.svg);
}
.pagination > ul > li > .page-numbers { 
    color: #f6b643; 
}
.main-popup {
    background: #000;   
}
.flatpickr-calendar.animate.open { 
    z-index: 99999999;
}