.open-video-btn {
    display: block;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.5);
        background-image: url(../images/open-video-btn.png);
        background-size: 55px auto;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 2;
    }
    img {
        width: 100%;
        height: auto;
    }
}
.ratio-box {
    display: block;
    position: relative;
    padding-top: 100%;
    height: 0;
    overflow: hidden;
    background-color: #f6f6f6;
    img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
        width: auto;
        width: auto;
    }
    iframe {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.mona-content {
    strong,
    b {
        font-weight: bold;
    }
    em,
    i {
        font-style: italic;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.3;
        margin-bottom: 0.5em;
        margin-top: 0.6em;
    }
    h1 {
        font-size: 1.7em;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.25em;
    }
    h4 {
        font-size: 1.125em;
    }
    h5 {
        font-size: 1em;
    }
    h6 {
        font-size: 0.85em;
    }
    p {
        margin: 0.7em 0;
    }
    ul,
    ol {
        margin: 0.7em 0;
        list-style-position: inside;
    }
    ul ul,
    ul ol,
    ol ul,
    ol ol {
        margin-left: 1.4em;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
    ul ul,
    ol ul {
        list-style-type: circle;
    }
    ol ol,
    ul ol {
        list-style-type: lower-latin;
    }
    img,
    iframe {
        max-width: 100% !important;
        height: auto;
    }
    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 0.7em 0;
        padding: 0.7em;
        quotes: "\201C""\201D""\2018""\2019";
        &::before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }
        p {
            display: inline;
        }
    }
    table {
        border-collapse: collapse;
        max-width: 100%;
        margin: 0.7em 0;
        border: 1px solid #e1e1e1;
        th,
        td {
            border-right: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;
            padding: 5px 10px;
            vertical-align: middle;
        }
    }
    .mona-youtube-wrap {
        position: relative;
        height: 0;
        padding-top: 56.25%;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .mona-table-wrap {
        overflow: auto;
    }
}
.table-responsive {
    max-width: 100%;
    overflow: auto;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.full-img {
    img {
        width: 100%;
        height: auto;
    }
}
.container {
    width: 1150px;
    max-width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    @include max-media(768px) {
        padding: 0 20px;
    }
}
.columns {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.column {
    padding: 15px;
}
.columns-5 {
    .column {
        width: 20%;
        @include max-media(768px) {
            width: 100%;
        }
    }
}
.columns-4 {
    .column {
        width: 25%;
        @include max-media(768px) {
            width: 100%;
        }
    }
}
.columns-3 {
    .column {
        width: calc(100% / 3);
        @include max-media(768px) {
            width: 100%;
        }
    }
}
.columns-2 {
    .column {
        width: 50%;
        @include max-media(768px) {
            width: 100%;
        }
    }
}
.columns-center {
    justify-content: center;
}
.hamburger-btn {
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    .bar {
        position: relative;
        background: $main-color;
        transition: all 0ms 300ms;
        &,
        &::before,
        &::after {
            width: 35px;
            height: 3px;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            background: $main-color;
        }
        &::before {
            bottom: 10px;
            transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
                transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &::after {
            top: 10px;
            transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
                transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
    &.active {
        .bar {
            background: rgba(255, 255, 255, 0);
            &::before {
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
            &::after {
                top: 0;
                transform: rotate(45deg);
                transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
    }
}
.main-btn {
    display: inline-block;
    appearance: none;
    font: inherit;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: $main-color;
    color: #fff;
    padding: 10px 35px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.2s;
    vertical-align: middle;
    &.square-btn {
        border-radius: 0;
        padding: 10px 18px;
    }
    &.white-btn {
        background-color: #fff;
        color: #000;
    }
    &.full-btn {
        text-align: center;
        width: 100%;
    }
    &.pill-btn {
        border-radius: 30px;
    }
    &.sm-btn {
        font-size: 12px;
        padding: 5px 12px;
    }
    &.disabled,
    &:disabled {
        &,
        &:hover {
            background-color: #c5c5c5;
            border-color: #c5c5c5;
            color: #fff;
        }
    }
    &:hover {
        background-color: darken($main-color, 10%);
        color: #fff;
    }
}
.f-control {
    appearance: none;
    font: inherit;
    color: inherit;
    outline: 0;
    border-radius: 0;
    width: 100%;
    border: 1px solid transparent;
    background-color: #fff;
    color: #000;
    padding: 0 15px;
    height: 30px;
    font-size: 12px;
    transition: 0.2s;
    &:disabled {
        cursor: not-allowed;
    }
    &.wpcf7-not-valid {
        border-color: #f00;
    }
}
select {
    &.f-control {
        background: #fff url(../images/select.svg) right 15px center / 8px
            no-repeat;
        padding-right: 30px;
    }
}
textarea {
    &.f-control {
        display: block;
        height: 90px;
        padding: 5px 15px;
        resize: vertical;
    }
}
.js-datepicker {
    background: #fff url(../images/calendar.svg) right 15px center / 14px
        no-repeat;
}
.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    input {
        display: none;
        &:checked ~ .checkmark {
            border-color: $main-color;
            &::after {
                opacity: 1;
            }
        }
    }
    .checkmark {
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 1px solid #707070;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
        flex-shrink: 0;
        &::after {
            content: "";
            opacity: 0;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: $main-color;
        }
    }
}
.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    input {
        display: none;
        &:checked ~ .checkmark {
            border-color: $main-color;
            &::after {
                opacity: 1;
            }
        }
    }
    .checkmark {
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 1px solid #707070;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        flex-shrink: 0;
        &::after {
            content: "✔";
            line-height: 1;
            opacity: 0;
            color: $main-color;
            font-size: 18px;
        }
    }
}
.scroll-top {
    position: fixed;
    right: 15px;
    bottom: 100px;
    z-index: 998;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: $main-color;
    border: 1px solid $main-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px 0 rgba(#000, 0.2);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.3s;
    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    &:hover {
        background-color: #fff;
        color: $main-color;
    }
}
.mfp-zoom-in {
    .mfp-content {
        opacity: 0;
        transition: all 0.2s ease-in-out;
        transform: scale(0.8);
    }
    &.mfp-bg {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    &.mfp-ready {
        .mfp-content {
            opacity: 1;
            transform: scale(1);
        }
        &.mfp-bg {
            opacity: 0.8;
        }
    }
    &.mfp-removing {
        .mfp-content {
            transform: scale(0.8);
            opacity: 0;
        }
        &.mfp-bg {
            opacity: 0;
        }
    }
}
.mfp-content {
    .mfp-close {
        color: $main-color;
        transition: 0.3s;
    }
}
html {
    .lg-backdrop {
        background-color: rgba(#000, 0.9);
    }
    .mfp-bg {
        z-index: 999998;
    }
    .mfp-wrap {
        z-index: 999999;
    }
}
.main-popup {
    background: #fff;
    padding: 30px;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
}
.lg-outer {
    .lg-thumb {
        margin-left: auto;
        margin-right: auto;
    }
    .lg-thumb-item {
        &:hover,
        &.active {
            border-color: $main-color;
        }
    }
}
.pagination {
    margin-top: 25px;
    > ul {
        > li {
            display: inline-block;
            > .page-numbers {
                display: block;
                border: 1px solid #e1e1e1;
                background-color: #f8f8f8;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 38px;
                transition: 0.3s;
                border-radius: 100%;
                font-size: 16px;
                font-weight: 600;
                &.current,
                &:hover {
                    color: #fff;
                    background-color: $main-color;
                    border-color: $main-color;
                }
            }
        }
    }
}
.rating-stars {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    .empty-stars,
    .filled-stars {
        text-shadow: none;
        width: 100%;
        white-space: nowrap;
    }
    .empty-stars {
        color: #e1e1e1;
    }
    .filled-stars {
        color: #f7941d;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }
}
.social-nav {
    display: flex;
    flex-wrap: wrap;
    li {
        a {
            display: block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            transition: 0.3s;
        }
    }
}
.sec {
    padding: 100px 0;
    &.sec-60 {
        padding: 60px 0;
    }
    &.sec-70 {
        padding: 70px 0;
    }
    &.pt-0 {
        padding-top: 0;
    }
    &.pb-0 {
        padding-bottom: 0;
    }
    &.p-0 {
        padding: 0;
    }
    @include max-media(1024px) {
        padding: 60px 0;
    }
    @include max-media(768px) {
        padding: 40px 0;
        &.sec-35-respon {
            padding: 35px 0;
        }
    }
}
.hl-color {
    color: $main-color;
}
.green-color {
    color: #008000;
}
.red-color {
    color: #ff0000;
}
.readmore-btn {
    display: inline-block;
    color: $main-color;
    cursor: pointer;
}
input.readmore-btn,
button.readmore-btn {
    padding: 0;
    appearance: none;
    border: 0;
    border-radius: 0;
    outline: 0;
    font: inherit;
    box-shadow: none;
    background-color: transparent;
}
.main-title-wrap {
    margin-bottom: 35px;
    &.mb-0 {
        margin-bottom: 0;
    }
}
.main-sub-title {
    font-size: 16px;
    margin-bottom: 10px;
}
.main-title {
    @include fz-36;
    font-weight: bold;
}
.main-desc {
    margin-top: 35px;
}
.lg-title {
    @include fz-48;
    &.lg-title-respon {
        @include max-media(768px) {
            @include fz-36;
        }
    }
}
.md-title {
    @include fz-24;
}
.breadcrumb-nav {
    display: flex;
    flex-wrap: wrap;
    li {
        &:first-child {
            &::before {
                display: none;
            }
        }
        &::before {
            content: "/";
            padding: 0 6px;
        }
        &:last-child {
            color: #838383;
        }
    }
}
.tab-link {
    cursor: pointer;
}
.tab-content {
    display: none;
    &.active {
        display: block;
        animation: showTab 0.6s forwards;
    }
}
@keyframes showTab {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.hr-thin {
    font-size: 0;
    margin: 10px 0;
    &::before {
        content: "";
        display: inline-block;
        width: 20px;
        border-bottom: 1px solid $main-color;
    }
    &.mt-0 {
        margin-top: 0;
    }
    &.mb-0 {
        margin-bottom: 0;
    }
}
.text-wrap {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul {
        margin-bottom: 10px;
    }
    ul {
        list-style-type: disc;
        padding-left: 20px;
    }
}
.mb-35 {
    margin-bottom: 35px;
}
.tooltip {
    position: relative;
    &:hover {
        .tooltip-text {
            display: block;
        }
    }
    .tooltip-text {
        padding: 4px 10px;
        font-size: 12px;
        border-radius: 4px;
        background-color: #fff;
        color: #000;
        display: block;
        position: absolute;
        width: max-content;
        max-width: 400px;
        bottom: 100%;
        margin-bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
        display: none;
        filter: drop-shadow(0 0 0.5px #333);
        pointer-events: none;
        &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            border: 5px solid transparent;
            border-top-color: #fff;
            transform: translateX(-50%);
        }
    }
}
.js-readmore-content {
    transition: max-height 0.4s;
    overflow: hidden;
}
.js-readmore-btn {
    display: inline-block;
    color: #b0b0b0;
    cursor: pointer;
    margin-top: 5px;
}