// $main-color: #00807c;
// $main-color-2: #a7f0f7;
// $text-color: #5d5d5d;
$main-color: #f6b53d;
$main-color-2: #333333;
$main-color-3: #242424;
$main-color-4: #2e2e2e;
$text-color: #fff;
$font-1: "Lato", sans-serif;
$font-2: "Cormorant Garamond";
@mixin max-media($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}
@mixin min-media($point) {
    @media screen and (min-width: $point) {
        @content;
    }
}
@mixin line-clamp($line) {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
@mixin clear-fix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin fz-48 {
    font-size: 48px;
    line-height: 1.2;
}
@mixin fz-36 {
    font-size: 36px;
    line-height: 1.2;
}
@mixin fz-24 {
    font-size: 24px;
}
