@import url(../fonts/Lato/stylesheet.css);
@import url(../fonts/CormorantGaramond/stylesheet.css);
@import url(../js/Magnific-Popup-master/magnific-popup.css);
@import url(../js/lightGallery-master/dist/css/lightgallery.min.css);
@import url(../js/Font-awesome-4.7.0/css/font-awesome.min.css);
@import url(../js/swiper-5.4.3/package/css/swiper.min.css);
@import url(../js/flatpickr/flatpickr.min.css);
@import "variables";
@import "components";
@import "swipperCustom";

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
::selection {
    background-color: $main-color;
    color: #fff;
}
article,
aside,
footer,
header,
nav,
section {
    display: block;
}
html {
    overflow-x: auto;
}
body {
    font-family: $font-1;
    color: $text-color;
    font-size: 14px;
    line-height: 1.8;
    color: #fff;
    background-color: $main-color-2;
    background-image: url(../images/bg.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
img,
iframe {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
}
ol,
ul {
    list-style-type: none;
}
table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: $font-2;
}
a {
    text-decoration: none;
    color: inherit;
    outline: 0;
    &:hover {
        color: $main-color;
    }
}
strong,
b,
.bold {
    font-weight: bold;
}
i,
.italic {
    font-style: italic;
}
sup {
    vertical-align: top;
    font-size: 70%;
}
.admin-bar {
    .header.fixed {
        top: 32px;
    }
    @include max-media(1050px) {
        .main-menu {
            top: 32px;
        }
    }
    @include max-media(768px) {
        .header.fixed {
            top: 46px;
        }
        .main-menu {
            top: 46px;
        }
    }
    @include max-media(600px) {
        .header.fixed {
            top: 0;
            .main-menu {
                top: 0;
            }
        }
    }
}
.header {
    position: relative;
    z-index: 999;
    background-color: $main-color-3;
}
.top-header {
    font-size: 12px;
    .language-picker {
        margin-top: 10px;
    }
    .container {
        display: flex;
        justify-content: flex-end;
    }
    @include max-media(1050px) {
        display: none;
    }
}
.language-picker {
    li {
        display: inline-block;
        a {
            display: block;
            padding: 5px 8px;
        }
        &.active {
            a {
                font-weight: bold;
                position: relative;
                &::after {
                    content: "";
                    width: 50%;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    border-bottom: 1px solid currentColor;
                }
            }
        }
    }
}
.booknow-btn {
    padding: 20px 30px;
    border-radius: 0 0 20px 20px;
    margin-left: 10px;
}
.bottom-header {
    padding: 15px 0;
    font-size: 13px;
    &.fixed {
        background-color: $main-color-3;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        box-shadow: -5px 0 5px rgba($main-color-3, 0.5);
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .language-picker,
    .booknow-btn {
        display: none;
        font-weight: bold;
    }
    @include max-media(1050px) {
        padding: 10px 0;
        .language-picker,
        .booknow-btn {
            display: inline-block;
        }
    }
    @include max-media(778px) {
        .language-picker,
        .booknow-btn {
            display: none;
        }
    }
}
.custom-logo-link {
    display: block;
    img {
        width: 100%;
        height: auto;
    }
}
.hd-logo {
    margin-right: 50px;
    .custom-logo-link {
        width: 160px;
    }
    @include max-media(1050px) {
        margin-right: auto;
    }
}
.main-menu {
    flex-grow: 1;
    @include max-media(1050px) {
        flex-grow: initial;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        z-index: 9998;
        transition: 0.5s;
        &.active {
            left: 0;
        }
    }
}
.main-menu-nav {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    a {
        transition: 0.2s;
    }
    > li {
        > a {
            display: block;
            padding: 8px 20px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                transform: translateX(-50%);
                transition: 0.2s;
                border-bottom: 1px solid currentColor;
            }
        }
        &:hover {
            > a {
                color: $text-color;
                &::after {
                    width: 50%;
                }
            }
        }
    }
    .current-menu-item,
    .current-menu-parent {
        > a::after {
            width: 50%;
        }
    }
    .dropdown {
        position: relative;
        > .sub-menu-wrap-toggle {
            width: 30px;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            display: none;
            transition: 0.2s;
            &::before {
                content: "+";
                font-size: 26px;
            }
        }
        > .sub-menu-wrap {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            min-width: 160px;
            box-shadow: 0 5px 10px 0 rgba(#000, 0.1);
            background-color: $main-color;
            color: #fff;
            z-index: 2;
            visibility: hidden;
            opacity: 0;
            transition: 0.2s;
            font-size: 13px;
            font-weight: normal;
            padding: 10px 0;
            a:hover {
                color: #fff;
                background-color: darken($main-color, 10%);
            }
            > .sub-menu {
                > li {
                    > a {
                        display: block;
                        padding: 10px 15px;
                    }
                }
            }
            .sub-menu-wrap {
                top: 0;
                left: 100%;
            }
        }
        &:hover {
            > .sub-menu-wrap {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    @include max-media(1050px) {
        text-align: left;
        flex-direction: column;
        margin-bottom: 30px;
        > li {
            border-bottom: 1px solid rgba(#fff, 0.2);
            &:last-child {
                margin-bottom: 0;
            }
            > a {
                padding: 14px 30px 14px 0;
                &::after {
                    display: none;
                }
            }
        }
        .current-menu-item,
        .current-menu-parent {
            > a {
                color: $main-color;
            }
        }
        .dropdown {
            > a {
                width: calc(100% - 30px);
            }
            &.show-sub-menu {
                > .sub-menu-wrap-toggle {
                    transform: rotate(45deg);
                }
            }
            > .sub-menu-wrap-toggle {
                display: flex;
            }
            > .sub-menu-wrap {
                min-width: 0;
                position: static;
                box-shadow: none;
                visibility: visible;
                opacity: 1;
                background-color: transparent;
                color: inherit;
                display: none;
                margin-left: 20px;
                margin-bottom: 14px;
                padding: 0;
                font-size: 12px;
                > .sub-menu {
                    > li {
                        > a {
                            padding: 4px 0;
                        }
                    }
                }
            }
            &.show-sub-menu {
                > .sub-menu-wrap {
                    display: block;
                }
                > a {
                    > .fa {
                        &::before {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            @include max-media(1050px) {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}
.main-menu-inner {
    .main-menu-language-picker {
        display: none;
        text-align: center;
        @include max-media(778px) {
            display: block;
        }
    }
    @include max-media(1050px) {
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        background-color: $main-color-2;
        box-shadow: -5px 0 5px rgba($main-color-3, 0.5);
        color: #fff;
        z-index: 2;
        padding: 30px;
        overflow-y: auto;
    }
}
.main-menu-close {
    position: fixed;
    top: 0;
    width: 30px;
    height: 30px;
    left: -50px;
    z-index: 9999;
    opacity: 0;
    left: auto;
    right: 0;
    span {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        margin: 0;
        color: #fff;
        background-color: $main-color;
        &::before,
        &::after {
            display: inline-block;
            height: 2px;
            background: #fff;
            position: absolute;
            content: "";
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            top: 50%;
            left: 50%;
            margin: -1px 0 0 -11px;
            width: 22px;
            transition: transform 0.1s ease;
        }
        &::before {
            transform: rotate3d(0, 0, 1, 45deg);
        }
        &::after {
            transform: rotate3d(0, 0, 1, -45deg);
        }
    }
    .main-menu.active & {
        transition: opacity 0.2s ease;
        transition-delay: 0.5s;
        opacity: 1;
    }
}
.main-menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($main-color-3, 0.5);
    display: none;
    @include max-media(1050px) {
        display: block;
    }
}
.main-menu-btn {
    display: none;
    width: 22px;
    height: 22px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    .bar {
        position: relative;
        &,
        &::before,
        &::after {
            content: "";
            display: inline-block;
            width: 22px;
            height: 2px;
            background-color: $main-color;
        }
        &::before {
            top: 7px;
        }
        &::after {
            top: -7px;
        }
        &::before,
        &::after {
            position: absolute;
            left: 0;
            content: "";
            transform-origin: 1.5px center;
            transition: transform 0.3s;
        }
    }
    @include max-media(1050px) {
        display: inline-flex;
    }
}
.home-banner-sec {
    padding: 0;
}
.home-banner-video{
    position: relative;
    height: 0;
    padding-top: 42.5%;
    video{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.home-banner-slider {
    .swiper-wrapper {
        margin: 0;
    }
    .swiper-slide {
        padding: 0;
        img {
            width: 100%;
            height: 100%;
            max-height: 480px;
            object-fit: cover;
        }
    }
}
.our-story-wrap {
    text-align: center;
    width: 690px;
    max-width: 100%;
    margin: 0 auto 60px;
}
.pd-wrap {
    .column {
        width: 50%;
        @include max-media(768px) {
            width: 100%;
        }
    }
}
.pd-item {
    height: 100%;
    position: relative;
    overflow: hidden;
    .pd-img {
        height: 100%;
        a {
            display: block;
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .pd-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        text-align: center;
        pointer-events: none;
    }
    .pd-title {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        padding: 20px;
        @include fz-36;
        transform: translateY(-50%);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
        color: #fff;
        font-weight: normal;
        transition: 0.35s;
        @include line-clamp(3);
    }
    &:hover {
        .pd-title {
            transform: translateY(calc(-50% + 15px));
        }
    }
}
.map-sec {
    iframe {
        height: 350px;
        width: 100%;
    }
}
.offers-wrap {
    .column {
        width: calc(100% / 3);
        @include max-media(768px) {
            width: 100%;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.offers-item {
    height: 100%;
    text-align: center;
    .offers-img {
        position: relative;
        margin-bottom: 25px;
    }
    .offers-img-top {
        a {
            display: block;
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .offers-img-bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        pointer-events: none;
    }
    .offers-title {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        padding: 20px;
        @include fz-36;
        transform: translateY(-50%);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
        color: #fff;
        font-weight: normal;
        transition: 0.35s;
        @include line-clamp(3);
    }
    .offers-info-title {
        font-size: 16px;
    }
    &:hover {
        .offers-title {
            transform: translateY(calc(-50% + 15px));
        }
    }
    @include max-media(500px) {
        .offers-img {
            margin-bottom: 15px;
        }
    }
}
.top-footer {
    padding: 70px 0;
    background-color: $main-color-4;
}
.ft-columns {
    justify-content: space-between;
}
.ft-column {
    width: calc(100% / 3);
    max-width: 320px;
    @include max-media(768px) {
        max-width: 100%;
        width: 100%;
    }
}
.ft-title {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}
.ft-info {
    li {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .ft-info-title {
        font-weight: bold;
        color: $main-color;
    }
}
.ft-contact {
    .columns {
        margin: -4px;
    }
    .f-control {
        height: 44px;
    }
    textarea.f-control {
        height: 110px;
    }
    .custom-checkbox {
        .checkmark {
            border-color: #c5c5c5;
        }
    }
    .column {
        padding: 4px;
        width: 100%;
        &.w-50 {
            width: 50%;
            @include max-media(500px) {
                width: 100%;
            }
        }
    }
}
.ft-map {
    iframe {
        width: 100%;
        height: 340px;
    }
}
.bottom-footer {
    background-color: $main-color-3;
    color: #fff;
    padding: 10px 0;
    font-size: 13px;
}
.booking-bar-sec {
    padding: 0;
}
.booking-bar-wrap {
    padding: 15px;
    background-color: $main-color;
    .columns {
        margin: -10px;
        flex-wrap: nowrap;
    }
    .column {
        padding: 10px;
        flex: 1 1 auto;
        &:last-child {
            flex: 0 1 auto;
        }
    }
    .f-control {
        padding-left: 5px;
        padding-right: 5px;
        background-position: right 5px center;
    }
    @include max-media(500px) {
        .columns {
            flex-wrap: wrap;
            margin: -5px;
        }
        .column {
            width: 100%;
            flex: initial;
            padding: 5px;
            &:last-child {
                flex: initial;
            }
        }
        .main-btn {
            width: 100%;
        }
    }
}
.occupancy-setting-wrap {
    position: relative;
    z-index: 2;
    &.active {
        .occupancy-setting {
            transform: perspective(1200px) rotateX(0deg);
        }
    }
}
.occupancy-setting {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 100%;
    right: 0;
    background-color: #fff;
    color: $main-color-2;
    transition: all 0.3s ease-in-out;
    transition-timing-function: cubic-bezier(0.7, 0, 0.185, 1);
    transform-origin: 50% 0%;
    box-shadow: 4px 4px 14px rgba(#000, 0.1);
    transform: perspective(1200px) rotateX(-90deg);
    .sub-menu {
        padding: 10px;
    }
    .frow {
        min-height: 40px;
        text-align: left;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        .lb {
            width: 50%;
            padding: 10px 0 10px 10px;
        }
        .controls-wrap {
            width: 50%;
        }
    }
}
.up-downControl {
    display: flex;
    width: 100%;
    .btn {
        display: inline-block;
        vertical-align: bottom;
        appearance: none;
        border: none;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        text-decoration: none;
        width: 40px;
        height: 40px;
        padding: 10px;
        color: $main-color;
        font-size: 24px;
        line-height: 18px;
    }
    .fcontrol {
        width: calc(100% - 80px);
        display: inline-block;
        vertical-align: top;
        text-align: center;
        line-height: 18px;
        padding: 10px;
        border-left: 0;
        border-right: 0;
    }
}
.rooms-intro-sec {
    padding: 70px 0 35px;
}
.rooms-sec {
    &:nth-child(odd) {
        background-color: $main-color-4;
    }
    &:nth-child(even) {
        .rooms-item {
            flex-direction: row-reverse;
        }
    }
}
.rooms-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .rooms-img {
        width: calc(100% / 3 * 2);
        a {
            display: block;
            transition: 0.2s;
            &:hover {
                opacity: 0.85;
            }
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .rooms-info {
        width: calc(100% / 3);
        padding-left: 60px;
        padding-right: 40px;
    }
    .rooms-title {
        margin-bottom: 10px;
    }
    .rooms-btn {
        display: flex;
        flex-wrap: wrap;
        margin-top: 35px;
        li {
            width: 50%;
            padding-right: 15px;
        }
    }
    @include max-media(768px) {
        .rooms-img {
            width: 100%;
        }
        .rooms-info {
            width: 100%;
            padding: 20px 0 0;
        }
        .rooms-btn {
            li {
                width: 100%;
                padding-right: 0;
                & + li {
                    margin-top: 35px;
                }
            }
        }
    }
}
.page-loading {
    background-color: $main-color;
    display: block;
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 9901;
    opacity: 1;
    visibility: visible;
    transition: all 0.35s ease-out;
    > div {
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
        background-image: url(../images/page-loading.svg);
    }
    &.loaded {
        opacity: 0;
        visibility: hidden;
    }
}
.s-offers-sec {
    padding-top: 0;
    padding-bottom: 60px;
    &:last-child {
        padding-bottom: 0;
    }
}
.s-offers-img {
    position: relative;
    margin-bottom: 35px;
    .s-offers-img-top {
        a {
            display: block;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .s-offers-img-bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        pointer-events: none;
        text-align: center;
        .s-offers-img-bottom-title {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            padding: 20px;
            @include fz-36;
            transform: translateY(-50%);
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
            color: #fff;
            font-weight: normal;
            transition: 0.35s;
            @include line-clamp(3);
        }
    }
    &:hover {
        .s-offers-img-bottom {
            .s-offers-img-bottom-title {
                transform: translateY(-40px);
            }
        }
    }
}
.s-offers-desc {
    margin-top: 35px;
    > .columns {
        > .column {
            width: calc(100% / 3);
            &.w-66 {
                width: calc(100% / 3 * 2);
            }
            @include max-media(768px) {
                width: 100%;
                &.w-66 {
                    width: 100%;
                }
            }
        }
    }
    .s-offers-desc-title {
        font-weight: bold;
        margin-bottom: 40px;
    }
}
.gallery-wrap {
    .column {
        width: calc(100% / 3);
        @include max-media(870px) {
            width: 50%;
        }
        @include max-media(500px) {
            width: 100%;
        }
    }
}
.gallery-item {
    .gallery-img {
        margin-bottom: 20px;
        position: relative;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($main-color, 0.2);
            opacity: 0;
            transition: 0.45s;
        }
    }
    .gallery-title {
        margin-bottom: 10px;
        color: $main-color;
        cursor: pointer;
        font-size: 16px;
    }
    &:hover {
        .gallery-img {
            &::after {
                opacity: 1;
            }
        }
    }
}
.order-rooms-sec {
    &.white-bg {
        background-color: $main-color-4;
    }
}
.room-detail-overview {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.room-detail-overview-slider {
    width: 65.5%;
    @include max-media(768px) {
        width: 100%;
    }
}
.room-detail-overview-content {
    width: 34.5%;
    background-color: $main-color;
    color: #fff;
    padding: 65px;
    @include max-media(768px) {
        width: 100%;
    }
    @include max-media(500px) {
        padding: 30px;
    }
}
.overview-slider {
    .swiper-wrapper {
        margin: 0;
    }
    .swiper-slide {
        padding: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.room-detail-info {
    margin-top: 85px;
    > .columns {
        > .column {
            width: calc(100% / 3);
            @include max-media(768px) {
                width: 100%;
            }
        }
    }
    .room-detail-info-title {
        font-weight: bold;
        margin-bottom: 40px;
    }
}
.room-detail-gallery {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-gap: 30px;
    .room-detail-gallery-img {
        &:first-child {
            grid-column: span 2;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    @include max-media(500px) {
        grid-template-columns: 1fr;
        .room-detail-gallery-img {
            &:first-child {
                grid-column: span 1;
            }
        }
    }
}
.booking-bar-wrap-column {
    .columns {
        flex-wrap: wrap;
        margin: -5px;
    }
    .column {
        width: 100%;
        flex: initial;
        padding: 5px;
    }
    .main-btn {
        width: 100%;
    }
}
.bar-overview {
    .bar-overview-slider {
        .swiper-wrapper {
            margin: 0;
        }
        .swiper-slide {
            padding: 0;
        }
    }
    .bar-overview-info {
        margin-top: 35px;
    }
}
.bar-cate-item {
    margin-top: 35px;
    > .columns {
        align-items: center;
    }
    .column {
        width: 50%;
    }
    .bar-cate-img {
        img {
            width: 100%;
            height: auto;
        }
    }
    .bar-cate-info-desc {
        margin-top: 35px;
    }
    .bar-cate-info-btn {
        margin-top: 30px;
        .readmore-btn {
            margin: 5px 20px 5px 0;
        }
    }
    &:nth-child(odd) {
        .columns {
            align-items: center;
            flex-direction: row-reverse;
        }
    }
    @include max-media(768px) {
        .column {
            width: 100%;
        }
        .bar-cate-info-desc {
            margin-top: 15px;
        }
        .bar-cate-info-btn {
            margin-top: 10px;
        }
    }
}
.bar-faqs {
    margin-top: 35px;
    background-color: $main-color-4;
}
.bar-faqs-item {
    border: 1px solid $main-color-3;
    .bar-faqs-title {
        padding: 14px 20px 14px 46px;
        line-height: 1.2;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.2s ease-in-out;
        position: relative;
        &:hover {
            background-color: $main-color-3;
        }
        > span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            display: inline-block;
            height: 12px;
            width: 12px;
            margin: 0;
            &::before,
            &::after {
                content: "";
                border-color: currentColor;
                transition: all 0.2s ease-in-out;
                border-style: solid;
                position: absolute;
            }
            &::before {
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                border-width: 2px 0 0 0;
            }
            &::after {
                left: 50%;
                bottom: 0;
                top: 0;
                transform: translateX(-50%);
                border-width: 0 0 0 2px;
            }
        }
    }
    .bar-faqs-info {
        padding: 14px 20px;
        border-top: 1px solid $main-color-3;
        display: none;
    }
    & + .bar-faqs-item {
        border-top: 0;
    }
    &.active {
        .bar-faqs-title {
            pointer-events: none;
            > span {
                &::after {
                    display: none;
                }
            }
        }
    }
}
.other-bar-item {
    height: 100%;
    a {
        display: block;
        height: 100%;
        transition: 0.2s;
        &:hover {
            opacity: 0.85;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.tours-item {
    margin-bottom: 55px;
    display: flex;
    flex-wrap: wrap;
    &:last-child {
        margin-bottom: 0;
    }
    .tours-img {
        margin-bottom: 35px;
        width: 100%;
        a {
            display: block;
        }
    }
    .tours-info {
        width: 25%;
        padding-right: 30px;
    }
    .tours-desc {
        width: 65%;
    }
    @include max-media(768px) {
        .tours-img {
            margin-bottom: 15px;
        }
        .tours-info {
            width: 100%;
            padding-right: 0;
            margin-bottom: 15px;
        }
        .tours-desc {
            width: 100%;
        }
    }
}
.custom-table {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    table {
        width: 100%;
        border: 0;
        tr {
            border-bottom: 1px solid rgba(#fff, 0.2);
        }
        th {
            font-weight: normal;
        }
        th,
        td {
            padding: 10px 15px;
            border: 0;
            border-right: 1px solid rgba(#fff, 0.2);
            width: 50%;
            &:last-child {
                border-right: 0;
            }
        }
        tbody {
            tr {
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}
.white-bg-wrap {
    padding: 35px 15px 35px;
    background-color: $main-color-4;
    .offers-item {
        margin-bottom: 35px;
    }
}
.reservation-wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: $main-color-3;
    color: #fff;
}
.reservation-main {
    width: calc(100% / 12 * 10);
    @include max-media(768px) {
        width: 100%;
    }
}
.reservation-aside {
    width: calc(100% / 12 * 2);
    padding: 0 15px;
    text-align: center;
    padding-top: 20px;
    @include max-media(768px) {
        width: 100%;
    }
}
.reservation-item {
    background-color: $main-color-4;
    margin-top: 20px;
    font-size: 12px;
}
.reservation-overview {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 20px;
}
.reservation-overview-img {
    width: 29%;
    font-size: 10px;
    text-align: center;
    img {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        cursor: pointer;
    }
    @include max-media(768px) {
        width: 100%;
    }
}
.reservation-overview-info {
    width: 71%;
    padding-left: 30px;
    .overview-info-title {
        font-size: 16px;
        font-weight: bold;
        font-family: inherit;
        margin-bottom: 6px;
        line-height: 1.4;
    }
    .overview-info-footer {
        margin-top: 12px;
        span {
            display: inline-block;
            margin-right: 10px;
        }
    }
    @include max-media(768px) {
        width: 100%;
        padding-left: 0;
        margin-bottom: 20px;
    }
}
.overview-info-utilities {
    margin-top: 12px;
    .utilities-head-nav {
        display: inline-block;
        font-size: 10px;
        li {
            display: inline-block;
            .fa {
                width: 18px;
                height: 18px;
                border-radius: 100%;
                text-align: center;
                line-height: 18px;
                color: #fff;
                background-color: #008000;
                margin: 1px 5px 1px 0;
            }
        }
    }
    .utilities-head-btn {
        color: #b0b0b0;
        display: inline-block;
    }
    .utilities-body {
        margin-top: 10px;
        display: none;
        &.active {
            display: block;
        }
    }
    .utilities-body-nav {
        li {
            display: inline-block;
            margin-right: 6px;
            position: relative;
            &::before {
                content: "";
                margin-right: 4px;
                display: inline-block;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background-color: #008000;
                vertical-align: middle;
            }
        }
    }
}
.reservation-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    line-height: 1.4;
    .reservation-options-desc {
        width: 40%;
        padding-right: 15px;
        .green-color,
        .red-color {
            .fa {
                color: inherit;
            }
        }
        > * {
            margin-bottom: 6px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .reservation-options-desc-title {
        font-size: 13px;
        font-weight: bold;
        font-family: inherit;
    }
    .reservation-options-people {
        width: 25%;
        text-align: center;
        padding-right: 15px;
        .title {
            font-size: 20px;
            line-height: 1.4;
            .fa {
                letter-spacing: -4px;
            }
        }
    }
    .reservation-options-price {
        width: 20%;
        text-align: center;
        padding-right: 15px;
        .new-price {
            font-size: 18px;
            line-height: 1.4;
        }
        .old-price {
            color: #b0b0b0;
        }
    }
    .reservation-options-rooms {
        width: 15%;
    }
    @include max-media(768px) {
        .reservation-options-desc {
            width: 100%;
            margin-bottom: 15px;
            padding-right: 0;
        }
        .reservation-options-people {
            width: 100%;
            text-align: left;
            margin-bottom: 15px;
            padding-right: 0;
        }
        .reservation-options-price {
            width: calc(100% - 100px);
            text-align: left;
            padding-right: 30px;
        }
        .reservation-options-rooms {
            width: 100px;
        }
    }
}
.reservation-aside-total {
    line-height: 1.4;
    padding-top: 10px;
    .total-price {
        font-size: 18px;
    }
}
.reservation-aside-sticky {
    position: sticky;
    top: 150px;
}
