@charset "UTF-8";
@import url(../fonts/Lato/stylesheet.css);
@import url(../fonts/CormorantGaramond/stylesheet.css);
@import url(../js/Magnific-Popup-master/magnific-popup.css);
@import url(../js/lightGallery-master/dist/css/lightgallery.min.css);
@import url(../js/Font-awesome-4.7.0/css/font-awesome.min.css);
@import url(../js/swiper-5.4.3/package/css/swiper.min.css);
@import url(../js/flatpickr/flatpickr.min.css);
.open-video-btn {
  display: block;
  position: relative;
}

.open-video-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/open-video-btn.png);
  background-size: 55px auto;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}

.open-video-btn img {
  width: 100%;
  height: auto;
}

.ratio-box {
  display: block;
  position: relative;
  padding-top: 100%;
  height: 0;
  overflow: hidden;
  background-color: #f6f6f6;
}

.ratio-box img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: auto;
  width: auto;
}

.ratio-box iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mona-content strong,
.mona-content b {
  font-weight: bold;
}

.mona-content em,
.mona-content i {
  font-style: italic;
}

.mona-content h1,
.mona-content h2,
.mona-content h3,
.mona-content h4,
.mona-content h5,
.mona-content h6 {
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-top: 0.6em;
}

.mona-content h1 {
  font-size: 1.7em;
}

.mona-content h2 {
  font-size: 1.6em;
}

.mona-content h3 {
  font-size: 1.25em;
}

.mona-content h4 {
  font-size: 1.125em;
}

.mona-content h5 {
  font-size: 1em;
}

.mona-content h6 {
  font-size: 0.85em;
}

.mona-content p {
  margin: 0.7em 0;
}

.mona-content ul,
.mona-content ol {
  margin: 0.7em 0;
  list-style-position: inside;
}

.mona-content ul ul,
.mona-content ul ol,
.mona-content ol ul,
.mona-content ol ol {
  margin-left: 1.4em;
}

.mona-content ul {
  list-style-type: disc;
}

.mona-content ol {
  list-style-type: decimal;
}

.mona-content ul ul,
.mona-content ol ul {
  list-style-type: circle;
}

.mona-content ol ol,
.mona-content ul ol {
  list-style-type: lower-latin;
}

.mona-content img,
.mona-content iframe {
  max-width: 100% !important;
  height: auto;
}

.mona-content blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 0.7em 0;
  padding: 0.7em;
  quotes: "“" "”" "‘" "’";
}

.mona-content blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.mona-content blockquote p {
  display: inline;
}

.mona-content table {
  border-collapse: collapse;
  max-width: 100%;
  margin: 0.7em 0;
  border: 1px solid #e1e1e1;
}

.mona-content table th,
.mona-content table td {
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 5px 10px;
  vertical-align: middle;
}

.mona-content .mona-youtube-wrap {
  position: relative;
  height: 0;
  padding-top: 56.25%;
}

.mona-content .mona-youtube-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mona-content .mona-table-wrap {
  overflow: auto;
}

.table-responsive {
  max-width: 100%;
  overflow: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.full-img img {
  width: 100%;
  height: auto;
}

.container {
  width: 1150px;
  max-width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.column {
  padding: 15px;
}

.columns-5 .column {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .columns-5 .column {
    width: 100%;
  }
}

.columns-4 .column {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .columns-4 .column {
    width: 100%;
  }
}

.columns-3 .column {
  width: calc(100% / 3);
}

@media screen and (max-width: 768px) {
  .columns-3 .column {
    width: 100%;
  }
}

.columns-2 .column {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .columns-2 .column {
    width: 100%;
  }
}

.columns-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger-btn {
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger-btn .bar {
  position: relative;
  background: #f6b53d;
  -webkit-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
}

.hamburger-btn .bar, .hamburger-btn .bar::before, .hamburger-btn .bar::after {
  width: 35px;
  height: 3px;
}

.hamburger-btn .bar::before, .hamburger-btn .bar::after {
  content: "";
  position: absolute;
  left: 0;
  background: #f6b53d;
}

.hamburger-btn .bar::before {
  bottom: 10px;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-btn .bar::after {
  top: 10px;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-btn.active .bar {
  background: rgba(255, 255, 255, 0);
}

.hamburger-btn.active .bar::before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-btn.active .bar::after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.main-btn {
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font: inherit;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #f6b53d;
  color: #fff;
  padding: 10px 35px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  vertical-align: middle;
}

.main-btn.square-btn {
  border-radius: 0;
  padding: 10px 18px;
}

.main-btn.white-btn {
  background-color: #fff;
  color: #000;
}

.main-btn.full-btn {
  text-align: center;
  width: 100%;
}

.main-btn.pill-btn {
  border-radius: 30px;
}

.main-btn.sm-btn {
  font-size: 12px;
  padding: 5px 12px;
}

.main-btn.disabled, .main-btn.disabled:hover, .main-btn:disabled, .main-btn:disabled:hover {
  background-color: #c5c5c5;
  border-color: #c5c5c5;
  color: #fff;
}

.main-btn:hover {
  background-color: #f4a20c;
  color: #fff;
}

.f-control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font: inherit;
  color: inherit;
  outline: 0;
  border-radius: 0;
  width: 100%;
  border: 1px solid transparent;
  background-color: #fff;
  color: #000;
  padding: 0 15px;
  height: 30px;
  font-size: 12px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.f-control:disabled {
  cursor: not-allowed;
}

.f-control.wpcf7-not-valid {
  border-color: #f00;
}

select.f-control {
  background: #fff url(../images/select.svg) right 15px center/8px no-repeat;
  padding-right: 30px;
}

textarea.f-control {
  display: block;
  height: 90px;
  padding: 5px 15px;
  resize: vertical;
}

.js-datepicker {
  background: #fff url(../images/calendar.svg) right 15px center/14px no-repeat;
}

.custom-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.custom-radio input {
  display: none;
}

.custom-radio input:checked ~ .checkmark {
  border-color: #f6b53d;
}

.custom-radio input:checked ~ .checkmark::after {
  opacity: 1;
}

.custom-radio .checkmark {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.custom-radio .checkmark::after {
  content: "";
  opacity: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #f6b53d;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox input:checked ~ .checkmark {
  border-color: #f6b53d;
}

.custom-checkbox input:checked ~ .checkmark::after {
  opacity: 1;
}

.custom-checkbox .checkmark {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.custom-checkbox .checkmark::after {
  content: "✔";
  line-height: 1;
  opacity: 0;
  color: #f6b53d;
  font-size: 18px;
}

.scroll-top {
  position: fixed;
  right: 15px;
  bottom: 100px;
  z-index: 998;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #f6b53d;
  border: 1px solid #f6b53d;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scroll-top.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.scroll-top:hover {
  background-color: #fff;
  color: #f6b53d;
}

.mfp-zoom-in .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-content {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-content .mfp-close {
  color: #f6b53d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html .lg-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

html .mfp-bg {
  z-index: 999998;
}

html .mfp-wrap {
  z-index: 999999;
}

.main-popup {
  background: #fff;
  padding: 30px;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}

.lg-outer .lg-thumb {
  margin-left: auto;
  margin-right: auto;
}

.lg-outer .lg-thumb-item:hover, .lg-outer .lg-thumb-item.active {
  border-color: #f6b53d;
}

.pagination {
  margin-top: 25px;
}

.pagination > ul > li {
  display: inline-block;
}

.pagination > ul > li > .page-numbers {
  display: block;
  border: 1px solid #e1e1e1;
  background-color: #f8f8f8;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 100%;
  font-size: 16px;
  font-weight: 600;
}

.pagination > ul > li > .page-numbers.current, .pagination > ul > li > .page-numbers:hover {
  color: #fff;
  background-color: #f6b53d;
  border-color: #f6b53d;
}

.rating-stars {
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

.rating-stars .empty-stars,
.rating-stars .filled-stars {
  text-shadow: none;
  width: 100%;
  white-space: nowrap;
}

.rating-stars .empty-stars {
  color: #e1e1e1;
}

.rating-stars .filled-stars {
  color: #f7941d;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.social-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-nav li a {
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sec {
  padding: 100px 0;
}

.sec.sec-60 {
  padding: 60px 0;
}

.sec.sec-70 {
  padding: 70px 0;
}

.sec.pt-0 {
  padding-top: 0;
}

.sec.pb-0 {
  padding-bottom: 0;
}

.sec.p-0 {
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .sec {
    padding: 60px 0;
  }
}

@media screen and (max-width: 768px) {
  .sec {
    padding: 40px 0;
  }
  .sec.sec-35-respon {
    padding: 35px 0;
  }
}

.hl-color {
  color: #f6b53d;
}

.green-color {
  color: #008000;
}

.red-color {
  color: #ff0000;
}

.readmore-btn {
  display: inline-block;
  color: #f6b53d;
  cursor: pointer;
}

input.readmore-btn,
button.readmore-btn {
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  font: inherit;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.main-title-wrap {
  margin-bottom: 35px;
}

.main-title-wrap.mb-0 {
  margin-bottom: 0;
}

.main-sub-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.main-title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: bold;
}

.main-desc {
  margin-top: 35px;
}

.lg-title {
  font-size: 48px;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .lg-title.lg-title-respon {
    font-size: 36px;
    line-height: 1.2;
  }
}

.md-title {
  font-size: 24px;
}

.breadcrumb-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumb-nav li:first-child::before {
  display: none;
}

.breadcrumb-nav li::before {
  content: "/";
  padding: 0 6px;
}

.breadcrumb-nav li:last-child {
  color: #838383;
}

.tab-link {
  cursor: pointer;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  -webkit-animation: showTab 0.6s forwards;
          animation: showTab 0.6s forwards;
}

@-webkit-keyframes showTab {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showTab {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hr-thin {
  font-size: 0;
  margin: 10px 0;
}

.hr-thin::before {
  content: "";
  display: inline-block;
  width: 20px;
  border-bottom: 1px solid #f6b53d;
}

.hr-thin.mt-0 {
  margin-top: 0;
}

.hr-thin.mb-0 {
  margin-bottom: 0;
}

.text-wrap h1,
.text-wrap h2,
.text-wrap h3,
.text-wrap h4,
.text-wrap h5,
.text-wrap h6,
.text-wrap p,
.text-wrap ul {
  margin-bottom: 10px;
}

.text-wrap ul {
  list-style-type: disc;
  padding-left: 20px;
}

.mb-35 {
  margin-bottom: 35px;
}

.tooltip {
  position: relative;
}

.tooltip:hover .tooltip-text {
  display: block;
}

.tooltip .tooltip-text {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  display: block;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 400px;
  bottom: 100%;
  margin-bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
  display: none;
  -webkit-filter: drop-shadow(0 0 0.5px #333);
          filter: drop-shadow(0 0 0.5px #333);
  pointer-events: none;
}

.tooltip .tooltip-text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 5px solid transparent;
  border-top-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.js-readmore-content {
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
  overflow: hidden;
}

.js-readmore-btn {
  display: inline-block;
  color: #b0b0b0;
  cursor: pointer;
  margin-top: 5px;
}

.is-slider {
  position: relative;
}

.is-slider .swiper-container {
  overflow: hidden;
}

.is-slider.swiper-nav .swiper-pagination {
  display: none;
}

@media screen and (max-width: 1200px) {
  .is-slider.swiper-nav .swiper-button-next,
  .is-slider.swiper-nav .swiper-button-prev {
    display: none;
  }
  .is-slider.swiper-nav .swiper-pagination {
    display: block;
  }
}

.is-slider.swiper-pag .swiper-button-next,
.is-slider.swiper-pag .swiper-button-prev {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 44px;
  height: 44px;
  background-color: #f6b53d;
  color: #fff;
  outline: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-family: FontAweSome;
  font-size: 20px;
}

.swiper-button-prev {
  left: -64px;
}

.swiper-button-prev::after {
  content: "\f177";
}

.swiper-button-next {
  right: -64px;
}

.swiper-button-next::after {
  content: "\f178";
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 40px;
}

@media screen and (max-width: 500px) {
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 20px;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 12px;
}

@media screen and (max-width: 500px) {
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
  opacity: 1;
  position: relative;
  overflow: hidden;
}

.swiper-pagination-bullet::after {
  content: " ";
  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1px #fff;
          box-shadow: 0 0 1px #fff;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

.swiper-pagination-bullet-active::after {
  height: 100%;
}

.swiper-wrapper {
  margin: -15px;
  width: auto;
}

.swiper-wrapper .swiper-slide {
  padding: 15px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .swiper-wrapper {
    margin: -7.5px;
  }
  .swiper-wrapper .swiper-slide {
    padding: 7.5px;
  }
}

.swiper-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-button-wrap .swiper-button-prev,
.swiper-button-wrap .swiper-button-next {
  position: static;
  color: #fff;
  background-color: #f6b53d;
  margin-top: 0;
  width: 35px;
  height: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.swiper-button-wrap .swiper-button-prev:hover,
.swiper-button-wrap .swiper-button-next:hover {
  background-color: #f6b53d;
}

.swiper-button-wrap .swiper-button-prev::after {
  content: "\f104";
}

.swiper-button-wrap .swiper-button-next {
  margin-left: 5px;
}

.swiper-button-wrap .swiper-button-next::after {
  content: "\f105";
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: #f6b53d;
  color: #fff;
}

::selection {
  background-color: #f6b53d;
  color: #fff;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

html {
  overflow-x: auto;
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.8;
  color: #fff;
  background-color: #333333;
  background-image: url(../images/bg.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

img,
iframe {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

ol,
ul {
  list-style-type: none;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Cormorant Garamond";
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

a:hover {
  color: #f6b53d;
}

strong,
b,
.bold {
  font-weight: bold;
}

i,
.italic {
  font-style: italic;
}

sup {
  vertical-align: top;
  font-size: 70%;
}

.admin-bar .header.fixed {
  top: 32px;
}

@media screen and (max-width: 1050px) {
  .admin-bar .main-menu {
    top: 32px;
  }
}

@media screen and (max-width: 768px) {
  .admin-bar .header.fixed {
    top: 46px;
  }
  .admin-bar .main-menu {
    top: 46px;
  }
}

@media screen and (max-width: 600px) {
  .admin-bar .header.fixed {
    top: 0;
  }
  .admin-bar .header.fixed .main-menu {
    top: 0;
  }
}

.header {
  position: relative;
  z-index: 999;
  background-color: #242424;
}

.top-header {
  font-size: 12px;
}

.top-header .language-picker {
  margin-top: 10px;
}

.top-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1050px) {
  .top-header {
    display: none;
  }
}

.language-picker li {
  display: inline-block;
}

.language-picker li a {
  display: block;
  padding: 5px 8px;
}

.language-picker li.active a {
  font-weight: bold;
  position: relative;
}

.language-picker li.active a::after {
  content: "";
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid currentColor;
}

.booknow-btn {
  padding: 20px 30px;
  border-radius: 0 0 20px 20px;
  margin-left: 10px;
}

.bottom-header {
  padding: 15px 0;
  font-size: 13px;
}

.bottom-header.fixed {
  background-color: #242424;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: -5px 0 5px rgba(36, 36, 36, 0.5);
          box-shadow: -5px 0 5px rgba(36, 36, 36, 0.5);
}

.bottom-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-header .language-picker,
.bottom-header .booknow-btn {
  display: none;
  font-weight: bold;
}

@media screen and (max-width: 1050px) {
  .bottom-header {
    padding: 10px 0;
  }
  .bottom-header .language-picker,
  .bottom-header .booknow-btn {
    display: inline-block;
  }
}

@media screen and (max-width: 778px) {
  .bottom-header .language-picker,
  .bottom-header .booknow-btn {
    display: none;
  }
}

.custom-logo-link {
  display: block;
}

.custom-logo-link img {
  width: 100%;
  height: auto;
}

.hd-logo {
  margin-right: 50px;
}

.hd-logo .custom-logo-link {
  width: 160px;
}

@media screen and (max-width: 1050px) {
  .hd-logo {
    margin-right: auto;
  }
}

.main-menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 1050px) {
  .main-menu {
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: 9998;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .main-menu.active {
    left: 0;
  }
}

.main-menu-nav {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-menu-nav a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-menu-nav > li > a {
  display: block;
  padding: 8px 20px;
  position: relative;
}

.main-menu-nav > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 1px solid currentColor;
}

.main-menu-nav > li:hover > a {
  color: #fff;
}

.main-menu-nav > li:hover > a::after {
  width: 50%;
}

.main-menu-nav .current-menu-item > a::after,
.main-menu-nav .current-menu-parent > a::after {
  width: 50%;
}

.main-menu-nav .dropdown {
  position: relative;
}

.main-menu-nav .dropdown > .sub-menu-wrap-toggle {
  width: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-menu-nav .dropdown > .sub-menu-wrap-toggle::before {
  content: "+";
  font-size: 26px;
}

.main-menu-nav .dropdown > .sub-menu-wrap {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  min-width: 160px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #f6b53d;
  color: #fff;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 13px;
  font-weight: normal;
  padding: 10px 0;
}

.main-menu-nav .dropdown > .sub-menu-wrap a:hover {
  color: #fff;
  background-color: #f4a20c;
}

.main-menu-nav .dropdown > .sub-menu-wrap > .sub-menu > li > a {
  display: block;
  padding: 10px 15px;
}

.main-menu-nav .dropdown > .sub-menu-wrap .sub-menu-wrap {
  top: 0;
  left: 100%;
}

.main-menu-nav .dropdown:hover > .sub-menu-wrap {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1050px) {
  .main-menu-nav {
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .main-menu-nav > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .main-menu-nav > li:last-child {
    margin-bottom: 0;
  }
  .main-menu-nav > li > a {
    padding: 14px 30px 14px 0;
  }
  .main-menu-nav > li > a::after {
    display: none;
  }
  .main-menu-nav .current-menu-item > a,
  .main-menu-nav .current-menu-parent > a {
    color: #f6b53d;
  }
  .main-menu-nav .dropdown > a {
    width: calc(100% - 30px);
  }
  .main-menu-nav .dropdown.show-sub-menu > .sub-menu-wrap-toggle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .main-menu-nav .dropdown > .sub-menu-wrap-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-menu-nav .dropdown > .sub-menu-wrap {
    min-width: 0;
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    color: inherit;
    display: none;
    margin-left: 20px;
    margin-bottom: 14px;
    padding: 0;
    font-size: 12px;
  }
  .main-menu-nav .dropdown > .sub-menu-wrap > .sub-menu > li > a {
    padding: 4px 0;
  }
  .main-menu-nav .dropdown.show-sub-menu > .sub-menu-wrap {
    display: block;
  }
  .main-menu-nav .dropdown.show-sub-menu > a > .fa::before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media screen and (max-width: 1050px) and (max-width: 1050px) {
  .main-menu-nav .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main-menu-inner .main-menu-language-picker {
  display: none;
  text-align: center;
}

@media screen and (max-width: 778px) {
  .main-menu-inner .main-menu-language-picker {
    display: block;
  }
}

@media screen and (max-width: 1050px) {
  .main-menu-inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #333333;
    -webkit-box-shadow: -5px 0 5px rgba(36, 36, 36, 0.5);
            box-shadow: -5px 0 5px rgba(36, 36, 36, 0.5);
    color: #fff;
    z-index: 2;
    padding: 30px;
    overflow-y: auto;
  }
}

.main-menu-close {
  position: fixed;
  top: 0;
  width: 30px;
  height: 30px;
  left: -50px;
  z-index: 9999;
  opacity: 0;
  left: auto;
  right: 0;
}

.main-menu-close span {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  color: #fff;
  background-color: #f6b53d;
}

.main-menu-close span::before, .main-menu-close span::after {
  display: inline-block;
  height: 2px;
  background: #fff;
  position: absolute;
  content: "";
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -11px;
  width: 22px;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.main-menu-close span::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
}

.main-menu-close span::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
}

.main-menu.active .main-menu-close {
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 1;
}

.main-menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.5);
  display: none;
}

@media screen and (max-width: 1050px) {
  .main-menu-overlay {
    display: block;
  }
}

.main-menu-btn {
  display: none;
  width: 22px;
  height: 22px;
  margin-left: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-menu-btn .bar {
  position: relative;
}

.main-menu-btn .bar, .main-menu-btn .bar::before, .main-menu-btn .bar::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 2px;
  background-color: #f6b53d;
}

.main-menu-btn .bar::before {
  top: 7px;
}

.main-menu-btn .bar::after {
  top: -7px;
}

.main-menu-btn .bar::before, .main-menu-btn .bar::after {
  position: absolute;
  left: 0;
  content: "";
  -webkit-transform-origin: 1.5px center;
          transform-origin: 1.5px center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media screen and (max-width: 1050px) {
  .main-menu-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.home-banner-sec {
  padding: 0;
}

.home-banner-video {
  position: relative;
  height: 0;
  padding-top: 42.5%;
}

.home-banner-video video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-banner-slider .swiper-wrapper {
  margin: 0;
}

.home-banner-slider .swiper-slide {
  padding: 0;
}

.home-banner-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  max-height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-story-wrap {
  text-align: center;
  width: 690px;
  max-width: 100%;
  margin: 0 auto 60px;
}

.pd-wrap .column {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .pd-wrap .column {
    width: 100%;
  }
}

.pd-item {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.pd-item .pd-img {
  height: 100%;
}

.pd-item .pd-img a {
  display: block;
  height: 100%;
}

.pd-item .pd-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pd-item .pd-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
  pointer-events: none;
}

.pd-item .pd-title {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 20px;
  font-size: 36px;
  line-height: 1.2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-shadow: 2px 2px 5px black;
  color: #fff;
  font-weight: normal;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.pd-item:hover .pd-title {
  -webkit-transform: translateY(calc(-50% + 15px));
          transform: translateY(calc(-50% + 15px));
}

.map-sec iframe {
  height: 350px;
  width: 100%;
}

.offers-wrap .column {
  width: calc(100% / 3);
}

@media screen and (max-width: 768px) {
  .offers-wrap .column {
    width: 100%;
    margin-bottom: 5px;
  }
  .offers-wrap .column:last-child {
    margin-bottom: 0;
  }
}

.offers-item {
  height: 100%;
  text-align: center;
}

.offers-item .offers-img {
  position: relative;
  margin-bottom: 25px;
}

.offers-item .offers-img-top a {
  display: block;
  height: 100%;
}

.offers-item .offers-img-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.offers-item .offers-img-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  pointer-events: none;
}

.offers-item .offers-title {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 20px;
  font-size: 36px;
  line-height: 1.2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-shadow: 2px 2px 5px black;
  color: #fff;
  font-weight: normal;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.offers-item .offers-info-title {
  font-size: 16px;
}

.offers-item:hover .offers-title {
  -webkit-transform: translateY(calc(-50% + 15px));
          transform: translateY(calc(-50% + 15px));
}

@media screen and (max-width: 500px) {
  .offers-item .offers-img {
    margin-bottom: 15px;
  }
}

.top-footer {
  padding: 70px 0;
  background-color: #2e2e2e;
}

.ft-columns {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ft-column {
  width: calc(100% / 3);
  max-width: 320px;
}

@media screen and (max-width: 768px) {
  .ft-column {
    max-width: 100%;
    width: 100%;
  }
}

.ft-title {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}

.ft-info li {
  margin-bottom: 10px;
}

.ft-info li:last-child {
  margin-bottom: 0;
}

.ft-info .ft-info-title {
  font-weight: bold;
  color: #f6b53d;
}

.ft-contact .columns {
  margin: -4px;
}

.ft-contact .f-control {
  height: 44px;
}

.ft-contact textarea.f-control {
  height: 110px;
}

.ft-contact .custom-checkbox .checkmark {
  border-color: #c5c5c5;
}

.ft-contact .column {
  padding: 4px;
  width: 100%;
}

.ft-contact .column.w-50 {
  width: 50%;
}

@media screen and (max-width: 500px) {
  .ft-contact .column.w-50 {
    width: 100%;
  }
}

.ft-map iframe {
  width: 100%;
  height: 340px;
}

.bottom-footer {
  background-color: #242424;
  color: #fff;
  padding: 10px 0;
  font-size: 13px;
}

.booking-bar-sec {
  padding: 0;
}

.booking-bar-wrap {
  padding: 15px;
  background-color: #f6b53d;
}

.booking-bar-wrap .columns {
  margin: -10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.booking-bar-wrap .column {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.booking-bar-wrap .column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.booking-bar-wrap .f-control {
  padding-left: 5px;
  padding-right: 5px;
  background-position: right 5px center;
}

@media screen and (max-width: 500px) {
  .booking-bar-wrap .columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -5px;
  }
  .booking-bar-wrap .column {
    width: 100%;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    padding: 5px;
  }
  .booking-bar-wrap .column:last-child {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }
  .booking-bar-wrap .main-btn {
    width: 100%;
  }
}

.occupancy-setting-wrap {
  position: relative;
  z-index: 2;
}

.occupancy-setting-wrap.active .occupancy-setting {
  -webkit-transform: perspective(1200px) rotateX(0deg);
          transform: perspective(1200px) rotateX(0deg);
}

.occupancy-setting {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 100%;
  right: 0;
  background-color: #fff;
  color: #333333;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.185, 1);
          transition-timing-function: cubic-bezier(0.7, 0, 0.185, 1);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);
  -webkit-transform: perspective(1200px) rotateX(-90deg);
          transform: perspective(1200px) rotateX(-90deg);
}

.occupancy-setting .sub-menu {
  padding: 10px;
}

.occupancy-setting .frow {
  min-height: 40px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.occupancy-setting .frow:last-child {
  margin-bottom: 0;
}

.occupancy-setting .frow .lb {
  width: 50%;
  padding: 10px 0 10px 10px;
}

.occupancy-setting .frow .controls-wrap {
  width: 50%;
}

.up-downControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.up-downControl .btn {
  display: inline-block;
  vertical-align: bottom;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: #f6b53d;
  font-size: 24px;
  line-height: 18px;
}

.up-downControl .fcontrol {
  width: calc(100% - 80px);
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 18px;
  padding: 10px;
  border-left: 0;
  border-right: 0;
}

.rooms-intro-sec {
  padding: 70px 0 35px;
}

.rooms-sec:nth-child(odd) {
  background-color: #2e2e2e;
}

.rooms-sec:nth-child(even) .rooms-item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.rooms-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rooms-item .rooms-img {
  width: calc(100% / 3 * 2);
}

.rooms-item .rooms-img a {
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.rooms-item .rooms-img a:hover {
  opacity: 0.85;
}

.rooms-item .rooms-img img {
  width: 100%;
  height: auto;
}

.rooms-item .rooms-info {
  width: calc(100% / 3);
  padding-left: 60px;
  padding-right: 40px;
}

.rooms-item .rooms-title {
  margin-bottom: 10px;
}

.rooms-item .rooms-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 35px;
}

.rooms-item .rooms-btn li {
  width: 50%;
  padding-right: 15px;
}

@media screen and (max-width: 768px) {
  .rooms-item .rooms-img {
    width: 100%;
  }
  .rooms-item .rooms-info {
    width: 100%;
    padding: 20px 0 0;
  }
  .rooms-item .rooms-btn li {
    width: 100%;
    padding-right: 0;
  }
  .rooms-item .rooms-btn li + li {
    margin-top: 35px;
  }
}

.page-loading {
  background-color: #f6b53d;
  display: block;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9901;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.page-loading > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  background-image: url(../images/page-loading.svg);
}

.page-loading.loaded {
  opacity: 0;
  visibility: hidden;
}

.s-offers-sec {
  padding-top: 0;
  padding-bottom: 60px;
}

.s-offers-sec:last-child {
  padding-bottom: 0;
}

.s-offers-img {
  position: relative;
  margin-bottom: 35px;
}

.s-offers-img .s-offers-img-top a {
  display: block;
}

.s-offers-img .s-offers-img-top a img {
  width: 100%;
  height: auto;
}

.s-offers-img .s-offers-img-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  pointer-events: none;
  text-align: center;
}

.s-offers-img .s-offers-img-bottom .s-offers-img-bottom-title {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 20px;
  font-size: 36px;
  line-height: 1.2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-shadow: 2px 2px 5px black;
  color: #fff;
  font-weight: normal;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.s-offers-img:hover .s-offers-img-bottom .s-offers-img-bottom-title {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.s-offers-desc {
  margin-top: 35px;
}

.s-offers-desc > .columns > .column {
  width: calc(100% / 3);
}

.s-offers-desc > .columns > .column.w-66 {
  width: calc(100% / 3 * 2);
}

@media screen and (max-width: 768px) {
  .s-offers-desc > .columns > .column {
    width: 100%;
  }
  .s-offers-desc > .columns > .column.w-66 {
    width: 100%;
  }
}

.s-offers-desc .s-offers-desc-title {
  font-weight: bold;
  margin-bottom: 40px;
}

.gallery-wrap .column {
  width: calc(100% / 3);
}

@media screen and (max-width: 870px) {
  .gallery-wrap .column {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .gallery-wrap .column {
    width: 100%;
  }
}

.gallery-item .gallery-img {
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.gallery-item .gallery-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(246, 181, 61, 0.2);
  opacity: 0;
  -webkit-transition: 0.45s;
  transition: 0.45s;
}

.gallery-item .gallery-title {
  margin-bottom: 10px;
  color: #f6b53d;
  cursor: pointer;
  font-size: 16px;
}

.gallery-item:hover .gallery-img::after {
  opacity: 1;
}

.order-rooms-sec.white-bg {
  background-color: #2e2e2e;
}

.room-detail-overview {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room-detail-overview-slider {
  width: 65.5%;
}

@media screen and (max-width: 768px) {
  .room-detail-overview-slider {
    width: 100%;
  }
}

.room-detail-overview-content {
  width: 34.5%;
  background-color: #f6b53d;
  color: #fff;
  padding: 65px;
}

@media screen and (max-width: 768px) {
  .room-detail-overview-content {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .room-detail-overview-content {
    padding: 30px;
  }
}

.overview-slider .swiper-wrapper {
  margin: 0;
}

.overview-slider .swiper-slide {
  padding: 0;
}

.overview-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.room-detail-info {
  margin-top: 85px;
}

.room-detail-info > .columns > .column {
  width: calc(100% / 3);
}

@media screen and (max-width: 768px) {
  .room-detail-info > .columns > .column {
    width: 100%;
  }
}

.room-detail-info .room-detail-info-title {
  font-weight: bold;
  margin-bottom: 40px;
}

.room-detail-gallery {
  margin-top: 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 8fr;
      grid-template-columns: 4fr 8fr;
  grid-gap: 30px;
}

.room-detail-gallery .room-detail-gallery-img:first-child {
  grid-column: span 2;
}

.room-detail-gallery .room-detail-gallery-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 500px) {
  .room-detail-gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .room-detail-gallery .room-detail-gallery-img:first-child {
    grid-column: span 1;
  }
}

.booking-bar-wrap-column .columns {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -5px;
}

.booking-bar-wrap-column .column {
  width: 100%;
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
  padding: 5px;
}

.booking-bar-wrap-column .main-btn {
  width: 100%;
}

.bar-overview .bar-overview-slider .swiper-wrapper {
  margin: 0;
}

.bar-overview .bar-overview-slider .swiper-slide {
  padding: 0;
}

.bar-overview .bar-overview-info {
  margin-top: 35px;
}

.bar-cate-item {
  margin-top: 35px;
}

.bar-cate-item > .columns {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar-cate-item .column {
  width: 50%;
}

.bar-cate-item .bar-cate-img img {
  width: 100%;
  height: auto;
}

.bar-cate-item .bar-cate-info-desc {
  margin-top: 35px;
}

.bar-cate-item .bar-cate-info-btn {
  margin-top: 30px;
}

.bar-cate-item .bar-cate-info-btn .readmore-btn {
  margin: 5px 20px 5px 0;
}

.bar-cate-item:nth-child(odd) .columns {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .bar-cate-item .column {
    width: 100%;
  }
  .bar-cate-item .bar-cate-info-desc {
    margin-top: 15px;
  }
  .bar-cate-item .bar-cate-info-btn {
    margin-top: 10px;
  }
}

.bar-faqs {
  margin-top: 35px;
  background-color: #2e2e2e;
}

.bar-faqs-item {
  border: 1px solid #242424;
}

.bar-faqs-item .bar-faqs-title {
  padding: 14px 20px 14px 46px;
  line-height: 1.2;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  position: relative;
}

.bar-faqs-item .bar-faqs-title:hover {
  background-color: #242424;
}

.bar-faqs-item .bar-faqs-title > span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0;
}

.bar-faqs-item .bar-faqs-title > span::before, .bar-faqs-item .bar-faqs-title > span::after {
  content: "";
  border-color: currentColor;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-style: solid;
  position: absolute;
}

.bar-faqs-item .bar-faqs-title > span::before {
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-width: 2px 0 0 0;
}

.bar-faqs-item .bar-faqs-title > span::after {
  left: 50%;
  bottom: 0;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-width: 0 0 0 2px;
}

.bar-faqs-item .bar-faqs-info {
  padding: 14px 20px;
  border-top: 1px solid #242424;
  display: none;
}

.bar-faqs-item + .bar-faqs-item {
  border-top: 0;
}

.bar-faqs-item.active .bar-faqs-title {
  pointer-events: none;
}

.bar-faqs-item.active .bar-faqs-title > span::after {
  display: none;
}

.other-bar-item {
  height: 100%;
}

.other-bar-item a {
  display: block;
  height: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.other-bar-item a:hover {
  opacity: 0.85;
}

.other-bar-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tours-item {
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tours-item:last-child {
  margin-bottom: 0;
}

.tours-item .tours-img {
  margin-bottom: 35px;
  width: 100%;
}

.tours-item .tours-img a {
  display: block;
}

.tours-item .tours-info {
  width: 25%;
  padding-right: 30px;
}

.tours-item .tours-desc {
  width: 65%;
}

@media screen and (max-width: 768px) {
  .tours-item .tours-img {
    margin-bottom: 15px;
  }
  .tours-item .tours-info {
    width: 100%;
    padding-right: 0;
    margin-bottom: 15px;
  }
  .tours-item .tours-desc {
    width: 100%;
  }
}

.custom-table {
  overflow: auto;
}

.custom-table::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-table::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-table::-webkit-scrollbar-thumb {
  background: #888;
}

.custom-table table {
  width: 100%;
  border: 0;
}

.custom-table table tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.custom-table table th {
  font-weight: normal;
}

.custom-table table th,
.custom-table table td {
  padding: 10px 15px;
  border: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  width: 50%;
}

.custom-table table th:last-child,
.custom-table table td:last-child {
  border-right: 0;
}

.custom-table table tbody tr:last-child {
  border-bottom: 0;
}

.white-bg-wrap {
  padding: 35px 15px 35px;
  background-color: #2e2e2e;
}

.white-bg-wrap .offers-item {
  margin-bottom: 35px;
}

.reservation-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #242424;
  color: #fff;
}

.reservation-main {
  width: calc(100% / 12 * 10);
}

@media screen and (max-width: 768px) {
  .reservation-main {
    width: 100%;
  }
}

.reservation-aside {
  width: calc(100% / 12 * 2);
  padding: 0 15px;
  text-align: center;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .reservation-aside {
    width: 100%;
  }
}

.reservation-item {
  background-color: #2e2e2e;
  margin-top: 20px;
  font-size: 12px;
}

.reservation-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.reservation-overview-img {
  width: 29%;
  font-size: 10px;
  text-align: center;
}

.reservation-overview-img img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .reservation-overview-img {
    width: 100%;
  }
}

.reservation-overview-info {
  width: 71%;
  padding-left: 30px;
}

.reservation-overview-info .overview-info-title {
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
  margin-bottom: 6px;
  line-height: 1.4;
}

.reservation-overview-info .overview-info-footer {
  margin-top: 12px;
}

.reservation-overview-info .overview-info-footer span {
  display: inline-block;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .reservation-overview-info {
    width: 100%;
    padding-left: 0;
    margin-bottom: 20px;
  }
}

.overview-info-utilities {
  margin-top: 12px;
}

.overview-info-utilities .utilities-head-nav {
  display: inline-block;
  font-size: 10px;
}

.overview-info-utilities .utilities-head-nav li {
  display: inline-block;
}

.overview-info-utilities .utilities-head-nav li .fa {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  text-align: center;
  line-height: 18px;
  color: #fff;
  background-color: #008000;
  margin: 1px 5px 1px 0;
}

.overview-info-utilities .utilities-head-btn {
  color: #b0b0b0;
  display: inline-block;
}

.overview-info-utilities .utilities-body {
  margin-top: 10px;
  display: none;
}

.overview-info-utilities .utilities-body.active {
  display: block;
}

.overview-info-utilities .utilities-body-nav li {
  display: inline-block;
  margin-right: 6px;
  position: relative;
}

.overview-info-utilities .utilities-body-nav li::before {
  content: "";
  margin-right: 4px;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #008000;
  vertical-align: middle;
}

.reservation-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  line-height: 1.4;
}

.reservation-options .reservation-options-desc {
  width: 40%;
  padding-right: 15px;
}

.reservation-options .reservation-options-desc .green-color .fa,
.reservation-options .reservation-options-desc .red-color .fa {
  color: inherit;
}

.reservation-options .reservation-options-desc > * {
  margin-bottom: 6px;
}

.reservation-options .reservation-options-desc > *:last-child {
  margin-bottom: 0;
}

.reservation-options .reservation-options-desc-title {
  font-size: 13px;
  font-weight: bold;
  font-family: inherit;
}

.reservation-options .reservation-options-people {
  width: 25%;
  text-align: center;
  padding-right: 15px;
}

.reservation-options .reservation-options-people .title {
  font-size: 20px;
  line-height: 1.4;
}

.reservation-options .reservation-options-people .title .fa {
  letter-spacing: -4px;
}

.reservation-options .reservation-options-price {
  width: 20%;
  text-align: center;
  padding-right: 15px;
}

.reservation-options .reservation-options-price .new-price {
  font-size: 18px;
  line-height: 1.4;
}

.reservation-options .reservation-options-price .old-price {
  color: #b0b0b0;
}

.reservation-options .reservation-options-rooms {
  width: 15%;
}

@media screen and (max-width: 768px) {
  .reservation-options .reservation-options-desc {
    width: 100%;
    margin-bottom: 15px;
    padding-right: 0;
  }
  .reservation-options .reservation-options-people {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    padding-right: 0;
  }
  .reservation-options .reservation-options-price {
    width: calc(100% - 100px);
    text-align: left;
    padding-right: 30px;
  }
  .reservation-options .reservation-options-rooms {
    width: 100px;
  }
}

.reservation-aside-total {
  line-height: 1.4;
  padding-top: 10px;
}

.reservation-aside-total .total-price {
  font-size: 18px;
}

.reservation-aside-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
}
