@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-BoldItalic.eot');
    src: url('CormorantGaramond-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-BoldItalic.woff2') format('woff2'),
        url('CormorantGaramond-BoldItalic.woff') format('woff'),
        url('CormorantGaramond-BoldItalic.ttf') format('truetype'),
        url('CormorantGaramond-BoldItalic.svg#CormorantGaramond-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-SemiBoldItalic.eot');
    src: url('CormorantGaramond-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-SemiBoldItalic.woff2') format('woff2'),
        url('CormorantGaramond-SemiBoldItalic.woff') format('woff'),
        url('CormorantGaramond-SemiBoldItalic.ttf') format('truetype'),
        url('CormorantGaramond-SemiBoldItalic.svg#CormorantGaramond-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Bold.eot');
    src: url('CormorantGaramond-Bold.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-Bold.woff2') format('woff2'),
        url('CormorantGaramond-Bold.woff') format('woff'),
        url('CormorantGaramond-Bold.ttf') format('truetype'),
        url('CormorantGaramond-Bold.svg#CormorantGaramond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Italic.eot');
    src: url('CormorantGaramond-Italic.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-Italic.woff2') format('woff2'),
        url('CormorantGaramond-Italic.woff') format('woff'),
        url('CormorantGaramond-Italic.ttf') format('truetype'),
        url('CormorantGaramond-Italic.svg#CormorantGaramond-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Light.eot');
    src: url('CormorantGaramond-Light.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-Light.woff2') format('woff2'),
        url('CormorantGaramond-Light.woff') format('woff'),
        url('CormorantGaramond-Light.ttf') format('truetype'),
        url('CormorantGaramond-Light.svg#CormorantGaramond-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-LightItalic.eot');
    src: url('CormorantGaramond-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-LightItalic.woff2') format('woff2'),
        url('CormorantGaramond-LightItalic.woff') format('woff'),
        url('CormorantGaramond-LightItalic.ttf') format('truetype'),
        url('CormorantGaramond-LightItalic.svg#CormorantGaramond-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Medium.eot');
    src: url('CormorantGaramond-Medium.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-Medium.woff2') format('woff2'),
        url('CormorantGaramond-Medium.woff') format('woff'),
        url('CormorantGaramond-Medium.ttf') format('truetype'),
        url('CormorantGaramond-Medium.svg#CormorantGaramond-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Regular.eot');
    src: url('CormorantGaramond-Regular.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-Regular.woff2') format('woff2'),
        url('CormorantGaramond-Regular.woff') format('woff'),
        url('CormorantGaramond-Regular.ttf') format('truetype'),
        url('CormorantGaramond-Regular.svg#CormorantGaramond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-MediumItalic.eot');
    src: url('CormorantGaramond-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-MediumItalic.woff2') format('woff2'),
        url('CormorantGaramond-MediumItalic.woff') format('woff'),
        url('CormorantGaramond-MediumItalic.ttf') format('truetype'),
        url('CormorantGaramond-MediumItalic.svg#CormorantGaramond-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-SemiBold.eot');
    src: url('CormorantGaramond-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-SemiBold.woff2') format('woff2'),
        url('CormorantGaramond-SemiBold.woff') format('woff'),
        url('CormorantGaramond-SemiBold.ttf') format('truetype'),
        url('CormorantGaramond-SemiBold.svg#CormorantGaramond-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

